section
{
background-color: aquamarine;
color:black;
border:3px solid red;
/* equivalent to 
border-weight:3px
border-style:solid
border-color :red
*/

border-top-left-radius: 10px;
border-radius: 10px;
/* rounded corner */

}
#bgimage
{
    /* background-image:url(/cat.jpg);
    background-repeat: no-repeat;
    background-position: center top; 
    same as below*/
    background:url(/cat.jpg) no-repeat center center/cover;
}
#bgimage2
{
    background: url(/cat.jpg) no-repeat center center;
    background-attachment: fixed; 
    /* fixes to browser window */
}