
.side-menu
{
    list-style: none;
    border: 1px black solid;
    width: 300px;
    padding: 20px;
}
.side-menu li
{
    line-height: 2em;
    border-bottom: 1px black dotted;
}
.side-menu li:last-child
{
    border-bottom: none;
}
.side-menu li a
{
    color:black;
    text-decoration: none;
}
.side-menu li a:hover
{
    color:cadetblue;
    
}
.navbar
{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    overflow:auto;
}
.navbar li{
    float:left;
}
.navbar li a{
    color:white;
    text-decoration: none;
    display:block;
    padding: 10px;
}
.navbar li a:hover
{
    background-color:aquamarine;
}